/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
@import url(https://fonts.googleapis.com/css?family=Coustard);

h1.title {
    font-family: 'Coustard', serif;
    font-size: 2em;
}

div#filterPane {
	margin: 1em;
	border: 1px solid lightgray;
	padding: 1em;
	border-radius: 5px;
}

div#filterPane .buttons {
	margin-top: 1em;
}

.filterButton {
    border: 2px;
}
